/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

.list-horizontal a {
  margin-right: 5px;
}

.tags {
  li {
    display: inline-block;

    a {
      margin-right: 10px;
      color: midnightblue;
      text-decoration: none;
      line-height: 1;
    }

    .tag-size-1 {
      font-size: $tag-size-1;
    }

    .tag-size-2,
    .tag-size-5 {
      font-weight: bold;
    }

    .tag-size-2 {
      font-size: $tag-size-2;
    }

    .tag-size-5 {
      font-size: $tag-size-5;
    }
  }
}


/* Authors */

.authors {
  li {
    margin-bottom: 4px;

    a {
      margin-right: 10px;
      color: maroon;
      text-decoration: none;
      line-height: 1;
    }

    .author-size-1 {
      font-size: $author-size-1;
    }

    .author-size-2,
    .author-size-4 {
      font-weight: bold;
    }

    .author-size-2 {
      font-size: $author-size-2;
    }

    .author-size-4 {
      font-size: $author-size-4;
    }
  }
}

/* Post */

.post {
  display: none;

  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
  list-style-type: none;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}
