@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento',
cursive;
$font-header: 'Oswald',
sans-serif;
$font-text: 'Source Sans Pro',
sans-serif;
$tag-size-1: 18px;
$tag-size-2: 32px;
$tag-size-5: 46px;
$author-size-1: 18px;
$author-size-2: 26px;
$author-size-4: 34px;
