.game-board {
  margin-top: 20px;
}

.game-subtitle {
  font-size: 42px;
}

.description {
  font-size: 24px;
}

.choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.choice img,
.panel-left img,
.play {
  border: 6px solid white;
  border-radius: 10px;
}

.choice img {
  width: 120px;
  height: 120px;
}

.panel-left img {
  width: 80px;
  height: 80px;
}

.play {
  width: 120px;
  height: 60px;
  margin-top: 20px;
  background-color: #F5D63D;
  font-family: 'Atma', cursive;
  font-size: 24px;
  outline: none;
}

.result-title,
.winner-title {
  margin-top: 30px;
  font-size: 32px;
}

.game-results {
  display: flex;
  justify-content: center;
  text-align: right;
}

.panel-left,
.panel-right {
  margin-top: 20px;
  flex-basis: 48%;
}

.panel-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.scores {
  font-size: 24px;
}

.panel-right p span {
  margin-left: 10px;
  font-weight: 700;
}

.panel-left .description {
  flex-basis: 65%;
  margin-right: 10px;
}

.player-image,
.computer-image {
  flex-basis: 30%;
}