.game-board {
  max-width: 100%;
  margin: 20px auto;
}

.game-title {
  font-size: 22px;
}

.game-subtitle {
  font-size: 30px;
}

.choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.choice img,
.panel-left img,
.play {
  margin: 4px;
}

.choice img {
  width: 80px;
  height: 80px;
}

.panel-left img {
  width: 56px;
  height: 56px;
}

.play {
  width: 80px;
  height: 40px;
  margin-top: 10px;
}

.game-results {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  margin: 10px auto;
}

.panel-left,
.panel-right {
  flex-basis: 48%;
}

.panel-left {
  display: flex;
  flex-direction: column;
}

.player,
.computer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.scores {
  font-size: 18px;
}

.panel-right p span {
  margin-left: 10px;
  font-weight: 700;
}